

.cards-container {
    display: flex;
    gap: 5em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    
}

.card {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 1em;
    width: 250px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 50%;
    
}